  @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

  
  .loginbtn{
     box-shadow: rgba(0, 0, 0, 0.5) 0px -40px 36px -28px inset ;
  }

button {
  width:90px;
  height:40px;
}


.h1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  /* font-family: "Sacramento", cursive; */
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

body {
 
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px tomato, 0 0 15px tomato, 0 0 20px tomato, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


.header{
   
 /* text-align: center;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px ; */
font-weight:bold;
font-size: 13px;
}


.text-outline {
  -webkit-text-stroke: 1px rgb(5, 5, 5);
  color: white; /* or transparent for outline-only look */
}

  @media screen and (max-width: 1600px) and (min-width: 259px) {
     .header {
       font-size: 28px;
       display: flex;
       flex-direction: column;
     }

     button { /* Corrected selector for all button elements */
       width: 255px;
       height: 60px;
       padding: 10px;
       font-size: 9px;
     }

     .h1 {
  font-size: 49px;
  line-height: calc(7px + 8vh);
   
   }}

     @media screen and (max-width: 390px) and (min-width: 259px) {
     .header {
       font-size: 28px;
       display: flex;
       flex-direction: column;
     }

     button { /* Corrected selector for all button elements */
       width: 205px;
       height: 40px;
       padding: 10px;
       font-size: 9px;
     }

     .h1 {
  font-size: 45px;
  line-height: calc(7px + 8vh);
   
   }}
   
 
   
