  @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

  
  .loginbtn{
     box-shadow: rgba(0, 0, 0, 0.5) 0px -40px 36px -28px inset ;
  }



.h1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  /* font-family: "Sacramento", cursive; */
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

body {
 
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px tomato, 0 0 15px tomato, 0 0 20px tomato, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


.header{
   
 /* text-align: center;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px ; */
font-weight:bold;
font-size: 13px;
}

.button{
  width:'190px';
  height:60px;
}


.text-outline {
  -webkit-text-stroke: 1px rgb(5, 5, 5);
  color: white; /* or transparent for outline-only look */
}

@media screen and (max-width: 1600px) and (min-width: 1001px) {
  .header { font-size: 28px; }
  .button { width: 155px; height: 60px; }
  .h1 { font-size: 49px; line-height: calc(7px + 8vh); }
}

@media screen and (max-width: 1000px) and (min-width: 701px) {
  .header { font-size: 22px; }
  .button { width: 120px; height: 50px; }
  .h1 { font-size: 36px; line-height: calc(6px + 7vh); }
}

@media screen and (max-width: 700px) and (min-width: 501px) {
  .header { font-size: 18px; }
  .button { width: 90px; height: 40px; }
  .h1 { font-size: 24px; line-height: calc(5px + 6vh); }
}

@media screen and (max-width: 500px) and (min-width: 401px) {
  .header { font-size: 19px; }
  .button { width: 60px; height: 40px; font-size: 10px; }
  .h1 { font-size: 40px; line-height: calc(25px + 4vh); }
}

@media screen and (max-width: 417px) and (min-width: 285px) {
  .header { font-size: 15px; }
  .button { width: 60px; height: 40px; font-size: 10px; }
  .h1 { font-size: 26px; }
    .h1 { font-size: 24px; line-height: calc(5px + 6vh); }
}