body{
  font-size: large;
}
.basket{
 
    position: relative;
}
.basket .dot{
  position: absolute;
  top: -8px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 50%;}

@media (max-width: 443px) and (max-height: 788px){
  .navbar-menu {
    display: none;
    font-size: x-small;
  
  }
}

@media screen and (max-width: 1600px) and (min-width: 325px) {
 body {
  
    font-size: 7px;
  
  }

  .search{
    height:20px;
  }
}