
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";
@plugin "daisyui"; /* @tailwind base;
@tailwind components; */
@tailwind utilities; 

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
 
  text-decoration: inherit;
}
a:hover {
  /* color: tomato; */
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background: #000;
  color: #f5f5f5;
}

button {
  cursor: pointer;
}